<nav class="navbar navbar-default" id="ringer-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            </button>
            <a class="navbar-brand" href="https://www.theringer.com/" target="_blank"><img class="nav-logo" src="https://thrones.theringer.com/img/logo-square.png"></a>
            <form action="/scrape">
                <input id="scraper" type="submit" value="Refresh Articles" />
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/logout">Sign out</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="articles-here">
        {{!--
        <h2>results{{results}}</h2> --}} {{#each featured}}
        <h4>{{fTitle}}</h4> {{!--
        <p>link:{{link}}</p> --}}
        <a href="{{fLink}}" target="_blank">
<img  class="art-img" src="{{img}}">
</a> {{/each}} 
{{!-- {{#each secondary}}
        <p>articles:{{articles}}</p>
        <p>link:{{link}}</p>
        {{/each}} --}}
    </div>
</div>